.Testimonials {
  background-color: #ee9972;
  padding-top: 50px;
  padding-bottom: 130px;
}

.Testimonials > h1 {
  text-align: center;
  font-size: 36px;
}

.Testimonials > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.testimonial {
  border-style: solid;
  border-color: transparent;
  background-color: #fbdabb;
  padding: 25px;
  min-width: 200px;
}

.testimonial > h4 {
  margin: 0;
  margin-bottom: 10px;
}

.testimonial > div {
  display: flex;
}

.testimonial > div > img {
  max-width: 47px;
  max-height: 46px;
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .Testimonials > div {
    flex-direction: row;
    justify-content: center;
  }
}
