* {
  font-size: 14px;
}
.primary-btn {
  padding: 10px 10px 10px 10px;
  background-color: #f4ce14;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  color: #333333;
}

@media (min-width: 1024px) {
  * {
    font-size: 18px;
  }
  .primary-btn {
    padding: 15px 25px 15px 25px;
    background-color: #f4ce14;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #333333;
  }
}
